@media (min-width: @mobile) {
  .advantages-list {
    .ident-reset();
    list-style: none;
  }

  .advantages-list__item {
    position: relative;
    margin-bottom: 26px;
    padding-left: 79px;

    .font-text-mobile();

    &--month {
      br {
        display: none;
      }
    }
  }

  .advantages-list__item--healthy::after {
    position: absolute;
    content: "";
    top: -1px;
    left: 0;
    width: 60px;
    height: 60px;
    background: url("../img/advantage-leaf@1x.png") no-repeat;
    background-color: @color-green;
    background-position: center;
  }

  .advantages-list__item--powder::after {
    position: absolute;
    content: "";
    top: -1px;
    left: 0;
    width: 60px;
    height: 60px;
    background: url("../img/advantage-powder@1x.png") no-repeat;
    background-color: @color-green;
    background-position: center;
  }

  .advantages-list__item--eating::after {
    position: absolute;
    content: "";
    top: -1px;
    left: 0;
    width: 60px;
    height: 60px;
    background: url("../img/advantage-dining@1x.png") no-repeat;
    background-color: @color-green;
    background-position: center;
  }

  .advantages-list__item--month::after {
    position: absolute;
    content: "";
    top: -1px;
    left: 0;
    width: 60px;
    height: 60px;
    background: url("../img/advantage-clock@1x.png") no-repeat;
    background-color: @color-green;
    background-position: center;
  }
}

@media (min-width: @tablet) {
  .advantages-list {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    counter-reset: li;
  }

  .advantages-list__item {
    position: relative;
    width: 250px;
    min-height: 162px;
    margin-bottom: 45px;
    margin-right: 103px;
    padding-top: 109px;
    padding-left: 0;
    padding-right: 30px;
    .font-text-tablet();

    &--month {
      br {
        display: inline;
      }
    }
  }

  .advantages-list__item:nth-child(2n) {
    margin-right: 0;
  }

  .advantages-list__item:nth-last-child(2),
  .advantages-list__item:last-child {
    margin-bottom: 15px;
  }

  .advantages-list__item::before {
    position: absolute;
    content: counter(li);
    counter-increment: li;
    top: -27px;
    right: 39px;

    font-family: @font-family;
    font-weight: @regular;
    font-size: 281px;
    line-height: 281px;
    color: @color-gray;
    z-index: -1;
  }

  .advantages-list__item--healthy::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background: url("../img/advantage-leaf@1x.png") no-repeat;
    background-color: @color-green;
    background-position: center;
  }

  .advantages-list__item--powder::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background: url("../img/advantage-powder@1x.png") no-repeat;
    background-color: @color-green;
    background-position: center;
  }

  .advantages-list__item--eating::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background: url("../img/advantage-dining@1x.png") no-repeat;
    background-color: @color-green;
    background-position: center;
  }

  .advantages-list__item--month::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background: url("../img/advantage-clock@1x.png") no-repeat;
    background-color: @color-green;
    background-position: center;
  }

  .advantages-list__item {
    background-image: url("../../img/index-background-mobile@1x.jpg");
  }
}

@media (min-width: @desktop) {
  .advantages-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .advantages-list__item {
    .ident-reset();

    width: 245px;
    min-height: 130px;
    padding-top: 112px;
    margin-left: -2px;

    .font-text-tablet();
  }

  .advantages-list__item:nth-last-child(2),
  .advantages-list__item:last-child {
    margin-bottom: 0;
  }

  .advantages-list__item::before {
    position: absolute;
    content: counter(li);
    counter-increment: li;
    top: -27px;
    right: 3px;

    font-family: @font-family;
    font-weight: @regular;
    font-size: 281px;
    line-height: 281px;
    color: @color-gray;
    z-index: -1;
  }
}
