@media (min-width: @mobile) {
  .copyright {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 14px;
  }

  .copyright__link {
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0;
    color: @color-darkgray;
  }

  .copyright__link:first-child {
    padding-top: 15px;
  }

  .copyright__link:last-child {
    padding-top: 7px;
  }
}

@media (min-width: @tablet) {
  .copyright {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 163px;
    margin-left: auto;
    padding-top: 0;
  }

  .copyright__link:last-child {
    margin-left: auto;
  }
}

@media (min-width: @desktop) {
  .copyright__link:first-child {
    padding-top: 6px;
  }

  .copyright__link:last-child {
    padding-top: 0;
  }
}
