@media (min-width: @mobile) {
  .copyright {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .copyright__link:first-child {
    padding-top: 20px;
  }

  .copyright__link:last-child {
    padding-top: 12px;
  }
}

.copyright__link {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0;
  color: @color-darkgray;
}
