@media (min-width: @mobile) {
  .example {
    width: 100%;
    min-height: 704px;
    margin: 0 auto;

    background-color: @color-gray;
  }

  .example__container {
    .container-mobile();
  }

  .example__title {
    display: block;

    padding-top: 18px;
    margin-bottom: 24px;
    .font-title-mobile();
  }

  .example__text {
    .ident-reset();
    padding-right: 14px;
    margin-bottom: 25px;

    .font-text-mobile();
  }

  .example__data {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

    margin-bottom: 60px;
  }

  .example__data-wrapper {
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;

    width: 124px;
    margin-bottom: 19px;

    border: 1px solid rgb(205, 205, 205);
    border-radius: 3%;
  }

  .example__data-number {
    padding-top: 15px;
    padding-bottom: 9px;
    margin-bottom: 7px;

    font-family: @font-family;
    font-weight: @regular;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0;
    text-transform: uppercase;
    color: @color-black;
  }

  .example__data-text {
    position: absolute;
    top: 45px;
    left: 17px;

    display: block;
    width: 87px;
    background-color: @color-gray;

    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0;
    text-align: center;
    color: @color-darkgray;
  }

  .example__summary {
    padding-top: 14px;
    padding-left: 47px;

    font-family: @font-family;
    font-weight: @regular;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
    color: @color-black;
  }
}

@media (min-width: @tablet) {
  .example {
    width: 100%;
    min-height: 1083px;
    margin: 0 auto;

    background-image: linear-gradient(@color-gray 1px, @color-white 1px, @color-white 621px, @color-gray 621px);
  }

  .example__container {
    .container-tablet();
  }

  .example__title {
    .ident-reset();
    padding-top: 48px;
    margin-bottom: 60px;
    .font-title-tablet();
  }

  .example__text {
    margin-bottom: 33px;
    .font-text-tablet();
  }

  .example__data {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 708px;
    padding-top: 21px;
  }

  .example__data-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 155px;
    padding-left: 5px;
    margin-right: 42px;
  }

  .example__data-text br {
    display: none;
  }

  .example__data-number {
    padding-bottom: 10px;

    font-family: @font-family;
    font-weight: @regular;
    font-size: 30px;
    line-height: 37.02px;
    letter-spacing: 0;
    text-transform: uppercase;
    color: @color-black;
  }

  .example__data-text {
    position: absolute;
    top: 62px;
    left: 15px;

    display: block;
    width: 132px;
    background-color: @color-white;

    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0;
    color: @color-darkgray;
  }

  .example__summary {
    width: 173px;
    padding-left: 0;
    margin-top: -5px;
    margin-left: 123px;

    font-family: @font-family;
    font-weight: @regular;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0;
    text-align: right;
    text-transform: uppercase;
    color: @color-black;
  }
}

@media (min-width: @desktop) {
  .example {
    width: 100%;
    min-height: 620px;
    margin: 0 auto;

    background-image: linear-gradient(@color-white 205px, @color-gray 205px);
  }

  .example__container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;

    .container-desktop();
  }

  .example__wrapper {
    width: 645px;
  }

  .example__title {
    .ident-reset();
    padding-top: 70px;
    margin-bottom: 144px;

    .font-title-tablet();
  }

  .example__text {
    margin-bottom: 46px;
    padding-right: 175px;
    .font-text-tablet();
  }

  .example__data {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

    width: 365px;
  }

  .example__data-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 160px;
    padding-left: 0;
    margin-right: 0;
  }

  .example__data-text {
    position: absolute;
    top: 62px;
    left: 15px;

    display: block;
    width: 132px;
    background-color: @color-gray;
  }

  .example__summary {
    width: 325px;
    padding-left: 0;
    margin-top: 25px;
    margin-left: 0;

    font-family: @font-family;
    font-weight: @regular;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0;
    text-align: left;
    text-transform: uppercase;
    color: @color-black;
  }

  .example__summary span {
    margin-left: 57px;
  }
}
