@media (min-width: @mobile) {
  .example {
    width: 100%;
    margin: 0 auto;

    background-color: @color-gray;
  }

  .example__container {
    .container-mobile();
    outline: @outline-main;
  }

  .example__title {
    .font-title-mobile();
  }

  .example__text {
    .font-text-mobile();
  }

  .example__data {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .example__data-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 124px;
  }

  .example__data-number {
    font-family: @font-family;
    font-weight: @regular;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0;
    text-transform: uppercase;
    color: @color-black;
  }

  .example__data-text {
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0;
    color: @color-darkgray;
  }

  .example__summary {
    font-family: @font-family;
    font-weight: @regular;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    text-transform: uppercase;
    color: @color-black;
  }
}

@media (min-width: @tablet) {
  .example {
    width: 100%;
    margin: 0 auto;

    background-image: linear-gradient(@color-white 621px, @color-gray 621px);
  }

  .example__container {
    .container-tablet();
    outline: @outline-main;
  }

  .example__title {
    .font-title-tablet();
  }

  .example__text {
    .font-text-tablet();
  }

  .example__data {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .example__data-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 163px;
  }

  .example__data-number {
    font-family: @font-family;
    font-weight: @regular;
    font-size: 30px;
    line-height: 37.02px;
    letter-spacing: 0;
    text-transform: uppercase;
    color: @color-black;
  }

  .example__data-text {
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0;
    color: @color-darkgray;
  }

  .example__summary {
    font-family: @font-family;
    font-weight: @regular;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0;
    text-transform: uppercase;
    color: @color-black;
  }
}

@media (min-width: @desktop) {
  .example {
    width: 100%;
    margin: 0 auto;

    background-image: linear-gradient(@color-white 205px, @color-gray 205px);
  }

  .example__container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;

    .container-desktop();
    outline: @outline-main;
  }

  .example__title {
    .font-title-tablet();
  }

  .example__text {
    .font-text-tablet();
  }

  .example__data {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    width: 375px;
  }

  .example__data-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 166px;
  }

  .example__data-number {
    font-family: @font-family;
    font-weight: @regular;
    font-size: 30px;
    line-height: 37.02px;
    letter-spacing: 0;
    text-transform: uppercase;
    color: @color-black;
  }

  .example__data-text {
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0;
    color: @color-darkgray;
  }

  .example__summary {
    font-family: @font-family;
    font-weight: @regular;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0;
    text-transform: uppercase;
    color: @color-black;
  }
}
