@media (min-width: @mobile) {
  .example {
    width: 100%;
    min-height: 704px;
    margin: 0 auto;
    background-color: @color-gray;
  }

  .example__container {
    .container-mobile();
  }

  .example__title {
    display: block;
    padding-top: 18px;
    margin-bottom: 24px;
    .font-title-mobile();
  }

  .example__text {
    .ident-reset();
    padding-right: 14px;
    margin-bottom: 25px;
    .font-text-mobile();
  }

  .example__data {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 60px;
  }

  .example__data-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 19px;
  }

  .example__data-number {
    width: 99px;
    padding: 15px 12px;
    margin-bottom: 7px;

    font-family: @font-family;
    font-weight: @regular;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
    color: @color-black;
    border: 1px solid rgb(205, 205, 205);
    border-radius: 3%;
  }

  .example__data-text {
    display: block;
    width: 87px;
    margin-top: -16px;
    background-color: @color-gray;

    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0;
    text-align: center;
    color: @color-darkgray;
  }

  .example__summary {
    display: block;
    margin: 0 auto;

    font-family: @font-family;
    font-weight: @regular;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
    color: @color-black;
  }
}

@media (min-width: @tablet) {
  .example {
    width: 100%;
    min-height: 1083px;
    margin: 0 auto;
    border-top: 1px solid @color-gray;

    background-image:
      linear-gradient(to bottom, @color-white 0%, @color-white 621px, rgba(255, 255, 255, 0) 621px, rgba(255, 255, 255, 0) 100%),
      linear-gradient(to right, @color-gray 50%, rgb(234, 234, 234) 50%);
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-position: 0 0, 0 0;
  }

  .example__container {
    .container-tablet();
  }

  .example__title {
    .ident-reset();
    padding-top: 47px;
    margin-bottom: 60px;
    .font-title-tablet();
  }

  .example__text {
    margin-bottom: 33px;
    .font-text-tablet();
  }

  .example__data {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding-top: 21px;
  }

  .example__data-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 42px;
  }

  .example__data-text br {
    display: none;
  }

  .example__data-number {
    width: 137px;
    padding: 16px 12px;

    font-family: @font-family;
    font-weight: @regular;
    font-size: 30px;
    line-height: 37.02px;
    letter-spacing: 0;
    text-transform: uppercase;
    color: @color-black;
  }

  .example__data-text {
    display: block;
    width: 132px;
    margin-top: -15px;
    background-color: @color-white;

    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0;
    color: @color-darkgray;
  }

  .example__summary {
    width: 185px;
    .ident-reset();
    margin-top: 6px;
    margin-left: auto;

    font-family: @font-family;
    font-weight: @regular;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0;
    text-align: right;
    text-transform: uppercase;
    color: @color-black;
  }
}

@media (min-width: @desktop) {
  .example {
    width: 100%;
    min-height: 620px;
    margin: 0 auto;
    border-top: none;

    background-image:
      linear-gradient(to bottom, @color-white 0%, @color-white 205px, rgba(255, 255, 255, 0) 205px, rgba(255, 255, 255, 0) 100%),
      linear-gradient(to right, @color-gray 0%, @color-gray calc(~"50% + 325px"), rgb(234, 234, 234) calc(~"50% + 325px"), rgb(234, 234, 234) 100%);
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-position: 0 0, 0 0;
  }

  .example__container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    .container-desktop();
  }

  .example__wrapper {
    width: 50%;
  }

  .example__title {
    .ident-reset();
    padding-top: 70px;
    margin-bottom: 144px;
    .font-title-tablet();
  }

  .example__text {
    width: 435px;
    margin-bottom: 46px;
    padding-right: 20px;
    .font-text-tablet();
  }

  .example__data {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 365px;
  }

  .example__data-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 47px;
    margin-right: 0;
    padding-left: 0;
  }

  .example__data-text {
    display: block;
    width: 132px;
    background-color: @color-gray;
  }

  .example__summary {
    width: 365px;
    padding-left: 0;
    margin-left: 0;

    font-family: @font-family;
    font-weight: @regular;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0;
    text-align: left;
    text-transform: uppercase;
    color: @color-black;
  }

  .example__summary span {
    margin-left: 57px;
  }
}
