.extra-goods {
  outline: @outline-main;
}

.extra-goods__title {
  font-family: @font-family;
  font-weight: @regular;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0;
  color: @color-black;
}
