.extra-catalog {
  .ident();
  list-style: none;
}

.extra-catalog__order-all {
  min-height: 289px;
  background-color: @color-green;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 280px 289px;
  background-position: center top;
}

.extra-catalog__slogan {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0;
  color: @color-white;
}
