@media (min-width: @mobile) {
  .extra-card {
    min-height: 129px;
    background-image: linear-gradient(rgb(205, 205, 205) 1px, @color-white 1px, @color-white 129px, rgb(205, 205, 205) 129px);
  }

  .extra-card h3 {
    .ident-reset();
    padding-top: 12px;
  }

  .extra-card__title {
    font-family: @font-family;
    font-weight: @regular;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0;
    text-transform: uppercase;
    color: @color-middlegray;
  }

  .extra-card__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    margin-bottom: 12px;
    padding-top: 7px;
  }

  .extra-card__details {
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0;
    color: @color-darkgray;
  }
}

@media (min-width: @tablet) {
  .extra-card {
    display: flex;
    min-height: 0;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 27px 38px 28px;
    background-image: linear-gradient(rgb(205, 205, 205) 1px, @color-white 1px, @color-white 139px, rgb(205, 205, 205) 139px);
    border-left: 1px solid rgb(230, 230, 230);
    border-right: 1px solid rgb(230, 230, 230);
  }

  .extra-card__title {
    .font-text-middle-tablet();
  }

  .extra-card h3 {
    width: 283px;
    .ident-reset();
  }

  .extra-card__wrapper {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;

    width: 283px;
    margin-bottom: 22px;
    padding-top: 2px;
  }

  .extra-card:nth-of-type(2) .extra-card__details:last-child {
    margin-left: 62px;
  }

  .extra-card__details {
    font-size: 16px;
    line-height: 20px;
  }

  .extra-card__details:last-child {
    margin-left: 52px;
  }
}

@media (min-width: @desktop) {
  .extra-card {
    display: flex;
    align-items: baseline;
    flex-direction: row;

    width: 895px;
    padding: 16px 0 14px;
    background-image: linear-gradient(rgb(205, 205, 205) 1px, @color-white 1px, @color-white 72px, rgb(205, 205, 205) 72px);
    border: 1px solid rgb(230, 230, 230);
    border-left: 0;
    border-right: 0;
  }

  .extra-card__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    width: 285px;
    margin-bottom: 0;
  }
}
