@media (min-width: @mobile) {
  .logo {
    width: 100%;
    border-bottom: 1px solid rgb(230, 230, 230s);
  }

  .logo .page-header__container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
  }

  .logo__image {
    margin-top: -3px;
    margin-right: 56px;
  }

  .logo__link {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;

    height: 65px;
    .container-mobile();
  }

  .logo__footer {
    padding-top: 5px;
    padding-left: 76px;
    padding-bottom: 28px;
  }
}

@media (min-width: @tablet) {
  .logo, .logo__link {
    width: 192px;
    height: 66px;

    border-bottom: none;
  }

  .logo .page-header__container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}

@media (min-width: @desktop) {
  .logo, .logo__link {
    width: 245px;
    height: 80px;
  }
}
