@media (min-width: @mobile) {
  .logo {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;

    width: 280px;
    height: 69px;
  }

  .logo__image {
    margin-top: -7px;
    margin-right: 56px;
  }

  .logo__footer {
    padding-top: 5px;
    padding-left: 76px;
    padding-bottom: 28px;
  }
}

@media (min-width: @tablet) {
  .logo {
    width: 192px;
    height: 66px;

    outline: 1px solid green;
  }
}

@media (min-width: @desktop) {
  .logo {
    width: 245px;
    height: 80px;

    outline: 1px solid green;
  }
}
