@media (min-width: @mobile) {
  .main-catalog {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

    .ident-reset();
    margin-bottom: 32px;
    list-style: none;
  }
}

@media (min-width: @tablet) {
  .main-catalog {
    .ident-reset();
    .container-tablet();
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: @desktop) {
  .main-catalog {
    .container-desktop();
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
