@media (min-width: @tablet) {
  .main-goods {
    margin-bottom: 40px;
    outline: 1px solid red;
  }
}

@media (min-width: @desktop) {
  .main-goods {
    margin-bottom: 53px;
    outline: 1px solid red;
  }
}
