.product-card h2 {
  .ident-reset();
}

.product-card__link {
  .font-text-middle();
}

.product-card__details {
  .font-text-small();
}

@media (min-width: @mobile) {
  .product-card {
    width: 280px;
  }
}

@media (min-width: @tablet) {
  .product-card {
    width: 324px;
  }
}

@media (min-width: @desktop) {
  .product-card {
    width: 245px;
  }
}
