.programms-list {
  .ident-reset();
  list-style: none;
}

@media (min-width: @mobile) {
  .programms-list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    padding-top: 22px;
  }

  .programms-list__item {
    min-height: 266px;
    margin-bottom: 19px;
    background-color: @color-gray;
  }

  .programms-list__title {
    .ident-reset();
    padding-top: 31px;
    padding-left: 92px;

    font-family: @font-family;
    font-weight: @regular;
    font-size: 24px;
    line-height: 37.02px;
    letter-spacing: 0;
    text-transform: uppercase;
    color: @color-black;
  }

  .programms-list__description {
    .ident-reset();
    margin-bottom: 42px;
    padding-top: 27px;
    padding-left: 19px;
    padding-right: 36px;

    .font-text-mobile();
  }

  .programms-list__btn {
    padding-left: 19px;

    font-family: @font-family;
    font-weight: @regular;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0;
    text-transform: uppercase;
    color: @color-black;
  }
}

@media (min-width: @tablet) {
  .programms-list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    padding-top: 6px;
    margin-bottom: 18px;
  }

  .programms-list__item {
    min-height: 372px;
    margin-bottom: 31px;
    background-color: @color-gray;

    &--slim {
      padding-right: 278px;
    }

    &--pro {
      padding-right: 314px;
    }
  }

  .programms-list__title {
    .ident-reset();
    padding-top: 79px;
    padding-left: 54px;

    font-family: @font-family;
    font-weight: @regular;
    font-size: 36px;
    line-height: 37.02px;
    letter-spacing: 0;
    text-transform: uppercase;
    color: @color-black;
  }

  .programms-list__description {
    .ident-reset();
    margin-bottom: 57px;
    padding-top: 21px;
    padding-left: 54px;

    .font-text-tablet();
  }

  .programms-list__btn {
    padding-left: 54px;

    font-family: @font-family;
    font-weight: @regular;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0;
    text-transform: uppercase;
    color: @color-black;
  }
}

@media (min-width: @desktop) {
  .programms-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    margin-bottom: 46px;
  }

  .programms-list__item {
    width: 570px;
    min-height: 370px;
    margin-right: 80px;

    &--slim {
      padding-right: 0;
    }

    &--pro {
      padding-right: 0;
    }
  }

  .programms-list__item:nth-child(even) {
    margin-right: 0;
  }

  .programms-list__title {
    .ident-reset();
    padding-top: 76px;
    padding-left: 212px;
  }

  .programms-list__description {
    .ident-reset();
    margin-bottom: 32px;
    padding-top: 73px;
    padding-left: 51px;
    padding-right: 50px;

    .font-text-tablet();
  }

  .programms-list__btn {
    padding-left: 52px;
  }
}
