@media (min-width: @mobile) {
  .slider__toggles {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    width: 199px;
    margin: 0 auto;
  }

  .slider__toggle-title {
    .button-reset();
    .font-text-middle;
  }

  .slider__item--after {
    display: none;
  }

  .slider__scale {
    width: 82px;
    height: 14px;
    border-radius: 80px;

    background-color: @color-white;
    border: 2px solid rgb(205, 205, 205);
  }

  .slider__toggle {
    position: absolute;
    top: 5px;
    left: 64px;

    width: 35px;
    height: 6px;
    border-radius: 30px;
    background-color: @color-green;
    cursor: pointer;
  }

  .slider__list {
    .ident-reset();
    list-style: none;
    margin-bottom: 33px;
  }
}

@media (min-width: @tablet) {
  .slider {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .slider__list {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    .ident-reset();
    margin-bottom: 17px;
  }

  .slider__item--before {
    width: 690px;
    margin-left: -350px;
    overflow: hidden;
  }

  .slider__pic--before {
    width: 690px;
    margin-left: 352px;
  }

  .slider__item--after {
    display: block;
    width: 690px;
    margin-right: -350px;
    overflow: hidden;
  }

  .slider__pic--after {
    width: 690px;
    margin-left: -338px;
  }

  .slider__toggles {
    width: 572px;
  }

  .slider__scale {
    width: 428px;
    height: 6px;
    margin-top: 8px;
    border-radius: 6px;
    background-color: rgb(220, 220, 220);
    border: none;
  }

  .slider__toggle-title {
    .button-reset();
    padding-bottom: 6px;
    border-bottom: 1px dotted rgb(190, 190, 190);
    .font-text-middle-tablet;
  }

  .slider__toggle {
    position: absolute;
    top: -6px;
    left: 270px;

    width: 8px;
    height: 8px;
    border: 12px solid @color-white;
    border-radius: 50%;
    background-color: @color-green;
    cursor: pointer;
  }
}

@media (min-width: @desktop) {
  .slider {
    position: relative;
    padding-top: 13px;
  }

  .slider__list {
    margin-bottom: 35px;
  }

  .slider__item--before {
    width: 690px;
    margin-left: -310px;
    overflow: hidden;
  }

  .slider__pic--before {
    width: 690px;
    margin-left: 325px;
  }

  .slider__item--after {
    display: block;
    width: 690px;
    margin-right: -350px;
    overflow: hidden;
  }

  .slider__pic--after {
    width: 690px;
    margin-left: -365px;
  }

  .slider__toggles {
    width: 572px;
    margin-left: 40px;
  }

}
