.button {
  .button-reset();

  display: block;
  width: 280px;
  padding: 12px 0;

  font-family: @font-family;
  font-weight: @regular;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: @color-white;

  background-color: @color-green;

  &--order {
    font-size: 16px;
    line-height: 20px;
  }

  &--gray {
    color: rgb(34, 34, 34);
    background-color: @color-gray;
  }
}
