@media (min-width: @mobile) {
  .button {
    .button-reset();

    display: block;
    width: 260px;
    padding: 12px 10px 10px;

    font-family: @font-family;
    font-weight: @regular;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    color: @color-white;
    background-color: @color-green;

    &--extra {
      padding-top: 12px;
      padding-bottom: 9px;

      font-size: 16px;
      line-height: 20px;
    }

    &--order {
      padding: 11px;
      font-size: 16px;
      line-height: 18px;
    }

    &--form {
      width: 280px;
      padding-top: 12px;
      padding-bottom: 9px;
      font-size: 16px;
      line-height: 20px;
    }

    &--gray {
      width: 260px;
      font-size: 16px;
      line-height: 20px;
      color: rgb(34, 34, 34);
      background-color: @color-gray;
    }
  }
}

@media (min-width: @tablet) {
  .button {
    .button-reset();

    display: block;
    width: 225px;
    padding: 16px 10px;

    font-family: @font-family;
    font-weight: @regular;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    color: @color-white;

    background-color: @color-green;

    &--extra {
      width: 613px;
      padding: 10px;

      font-size: 16px;
      line-height: 20px;
      text-align: center;
    }

    &--order {
      width: 227px;
      padding: 12px 10px;
      font-size: 16px;
      line-height: 18px;
    }

    &--gray {
      padding: 11px;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      color: @color-darkgray;
      background-color: @color-gray;
    }

    &--form {
      width: 283px;
      padding: 17px;

      font-size: 20px;
      line-height: 20px;
    }
  }

  .button:hover {
    background-color: @color-darkgreen;
  }

  .button--gray:hover {
    background-color: rgb(235, 235, 235);
  }

  .button:active {
    color: rgba(255, 255, 255, 0.3);
  }

  .button--gray:active {
    color: rgba(68, 68, 68, 0.3);
  }
}

@media (min-width: @desktop) {
  .button {
    .button-reset();

    display: block;
    width: 225px;
    padding: 16px 10px;

    font-family: @font-family;
    font-weight: @regular;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    color: @color-white;

    background-color: @color-green;

    &--extra {
      width: 225px;
      padding-top: 12px;
      padding-bottom: 8px;

      font-size: 16px;
      line-height: 20px;
      text-align: center;
    }

    &--order {
      width: 149px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 16px;
      line-height: 20px;
    }

    &--gray {
      width: 149px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 16px;
      line-height: 20px;
      color: @color-darkgray;
      background-color: @color-gray;
    }

    &--form {
      width: 569px;
      padding: 17px;
      font-size: 20px;
      line-height: 20px;
    }
  }
}
