@media (min-width: @mobile) {
  .filter {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    margin-bottom: 29px;
  }

  .filter__section-wrapper {
    width: 100%;
    overflow: hidden;
  }

  fieldset {
    .ident-reset();
    border: none;
  }

  .filter__title {
    .ident-reset();
    font-family: @font-family;
    font-weight: @regular;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0;
    color: @color-black;
  }

  .filter__input {
    flex-grow: 1;
    padding: 13px;
    border: 1px solid rgb(230, 230, 230);
  }

  .filter__section-pers {
    .container-mobile();
    margin-bottom: 8px;
  }

  .filter__section-pers div,
  .filter__section-wrap-desk div {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    margin-bottom: 14px;
  }

  .filter__section-radio {
    width: 100%;
    margin-bottom: 31px;
    border-top: 1px solid @color-lightgray;
    border-bottom: 1px solid @color-lightgray;
  }

  .filter__section-radio div {
    margin-bottom: 23px;
  }

  .filter__section-radio div:first-of-type {
    padding-top: 14px;
  }

  .filter__section-contact {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
  }

  .filter__section--green-line::after {
    content: "";
    position: absolute;
    top: 12px;
    right: 0;
    left: 0;
    height: 3px;
    background-color: @color-green;
  }

  .filter__section-contact .filter__title {
    position: relative;
    display: inline-block;
    max-width: 188px;
    padding-left: 40px;
    padding-right: 13px;
    margin: 0 0 34px -40px;
    background-color: @color-white;
    z-index: 1;
  }

  .filter__input--email {
    background: url("../img/icon-mail.svg") no-repeat 186px 14px;
    background-size: 17px 13px;
  }

  .filter__input--tel {
    background: url("../img/icon-phone.svg") no-repeat 171px 12px;
    background-size: 20px 20px;
  }

  .filter__section-comment .filter__title,
  .filter__section-extra .filter__title {
    position: relative;
    display: inline-block;
    max-width: 188px;
    padding-left: 40px;
    padding-right: 21px;
    margin: 0 0 32px -40px;
    background-color: @color-white;
    z-index: 1;
  }

  .filter__section-comment {
    position: relative;
    width: 100%;
    margin-bottom: 29px;
  }

  .filter__section-comment textarea {
    resize: none;
  }

  .filter__section-extra {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
  }

  .filter__section-extra div {
    margin-bottom: 23px;
  }

  .filter__section-extra .filter__title {
    position: relative;
    display: inline-block;
    max-width: 188px;
    padding-left: 40px;
    padding-right: 21px;
    margin: 0 0 39px -40px;
    background-color: @color-white;
    z-index: 1;
  }

  .filter__section-btn {
    display: flex;
    align-items: center;
    flex-direction: column;
    .container-mobile();
  }

  .filter__section-btn .filter__btn {
    margin-bottom: 19px;
  }

  .filter__note {
    margin-right: -2px;
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0;
    color: @color-darkgray;
  }

  .filter__label {
    font-family: @font-family;
    font-weight: @regular;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0;
    text-transform: uppercase;
    color: @color-middlegray;

    &--pers {
      margin-right: 14px;
    }

    &--radio {
      padding-left: 47px;
      cursor: pointer;
    }

    &--contact {
      margin-right: 8px;
    }

    &--checkbox {
      padding-left: 47px;
      cursor: pointer;
    }
  }

  .filter__input--radio,
  .filter__input--checkbox {
    display: none;
  }

  .filter__section-radio label {
    position: relative;
  }

  .filter__section-radio .filter__label::before {
    position: absolute;
    content: "";
    top: -5px;
    left: 0;
    width: 29px;
    height: 29px;
    border-radius: 50%;
    border: 1px solid rgb(228, 228, 228);
  }

  .filter__section-radio input[type="radio"] + label:hover::before {
    border: 1px solid rgb(207, 207, 207);
  }

  .filter__section-radio input[type="radio"]:checked + label::after {
    position: absolute;
    content: "";
    top: 4px;
    left: 9px;
    width: 12px;
    height: 12px;
    background-color: @color-green;
    border-radius: 50%;
  }

  .filter__section-extra label {
    position: relative;
  }

  .filter__section-extra .filter__label::before {
    position: absolute;
    content: "";
    top: -5px;
    left: 0;
    width: 29px;
    height: 29px;
    border: 1px solid rgb(228, 228, 228);
  }

  .filter__section-extra input[type="checkbox"] + label:hover::before {
    border: 1px solid rgb(207, 207, 207);
  }

  .filter__section-extra input[type="checkbox"]:checked + label::after {
    position: absolute;
    content: "";
    top: 0;
    left: 5px;
    width: 21px;
    height: 16px;
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .filter__input::-webkit-input-placeholder {
    .font-placeholder-mobile();
  }

  .filter__input:-ms-input-placeholder {
    .font-placeholder-mobile();
  }

  .filter__input::-moz-placeholder {
    .font-placeholder-mobile();
  }

  .filter__input:-moz-placeholder {
    .font-placeholder-mobile();
  }
}

//TABLET

@media (min-width: @tablet) {
  .filter {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    margin-bottom: 49px;
  }

  .filter__section-wrapper {
    width: 100%;
  }

  .filter__input {
    padding: 17px 20px;
    border: 1px solid rgb(230, 230, 230);
  }

  .filter__section-pers {
    width: 630px;
    margin-bottom: 53px;
    padding-top: 3px;
    padding-left: 6px;
  }

  .filter__section-pers div,
  .filter__section-wrap-desk div {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    margin-bottom: 19px;
  }

  .filter__section-wrap-desk {
    width: 633px;
  }

  .filter__section-radio {
    width: 100%;
    margin-bottom: 78px;
    margin-left: 70px;
    padding-top: 5px;
    padding-left: 20px;

    border: 1px solid @color-lightgray;
  }

  .filter__section-radio div {
    margin-bottom: 30px;
  }

  .filter__section-radio div:first-of-type {
    padding-top: 15px;
  }

  .filter__section-contact {
    position: relative;
    width: 100%;
    margin-bottom: 50px;
    padding-left: 70px;
    padding-right: 35px;
  }

  .filter__input--email {
    background: url("../img/icon-mail.svg") no-repeat 515px 20px;
    background-size: 17px 13px;
  }

  .filter__input--tel {
    background: url("../img/icon-phone.svg") no-repeat 495px 18px;
    background-size: 20px 20px;
  }

  .filter__section--green-line::after {
    content: "";

    position: absolute;
    top: 20px;
    right: 0;
    left: 0;

    height: 3px;

    background-color: @color-green;
  }

  .filter__section-contact .filter__title,
  .filter__section-comment .filter__title,
  .filter__section-extra .filter__title {
    position: relative;
    display: inline-block;
    max-width: 512px;

    padding-left: 40px;
    padding-right: 40px;
    margin: 0 0 73px -40px;

    background-color: @color-white;
    z-index: 1;
  }

  .filter__section-comment {
    position: relative;
    width: 100%;
    margin-bottom: 67px;
    padding-left: 70px;
    padding-right: 35px;
  }

  .filter__section-comment textarea {
    width: 595px;
    min-height: 137px;
    resize: none;
  }

  .filter__section-extra {
    position: relative;
    width: 100%;
    margin-bottom: 0;
    padding-left: 70px;
    padding-right: 35px;
  }

  .filter__section-extra .filter__title {
    margin-bottom: 64px;
  }

  .filter__title {
    font-family: @font-family;
    font-weight: @regular;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0;
    color: @color-black;
  }

  .filter__section-wrap-tablet {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .filter__section-extra div {
    margin-bottom: 12px;
  }

  .filter__section-wrap-tablet div {
    width: 342px;
    margin-bottom: 50px;
  }

  .filter__section-btn {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    .container-tablet();
  }

  .filter__section-btn .filter__btn {
    margin-left: 42px;
    margin-right: 60px;
    margin-bottom: 19px;
  }

  .filter__note {
    display: block;
    margin-top: -30px;
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0;
    color: @color-darkgray;
  }

  .filter__label {
    .font-text-middle-tablet();
    color: @color-middlegray;

    &--pers {
      margin-right: 16px;
    }

    &--radio {
      padding-left: 39px;
      cursor: pointer;
    }

    &--contact {
      margin-right: 13px;
    }

    &--checkbox {
      padding-left: 60px;
      margin-right: 20px;
      cursor: pointer;
    }
  }

  .filter__section-radio .filter__label::before {
    position: absolute;
    content: "";
    top: -6px;
    left: -22px;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    border: 1px solid rgb(228, 228, 228);
  }

  .filter__section-radio input[type="radio"] + label:hover::before {
    border: 1px solid rgb(207, 207, 207);
  }

  .filter__section-radio input[type="radio"]:checked + label::after {
    position: absolute;
    content: "";
    top: 5px;
    left: -11px;
    width: 18px;
    height: 18px;
    background-color: @color-green;
    border-radius: 50%;
  }

  .filter__section-extra label {
    position: relative;
  }

  .filter__section-extra .filter__label::before {
    position: absolute;
    content: "";
    top: -5px;
    left: 0;
    width: 39px;
    height: 39px;
    border: 1px solid rgb(228, 228, 228);
  }

  .filter__section-extra input[type="checkbox"] + label:hover::before {
    border: 1px solid rgb(207, 207, 207);
  }

  .filter__section-extra input[type="checkbox"]:checked + label::after {
    position: absolute;
    content: "";
    top: 7px;
    left: 8px;
    width: 21px;
    height: 16px;
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .filter__input::-webkit-input-placeholder {
    .font-placeholder-tablet();
  }

  .filter__input:-ms-input-placeholder {
    .font-placeholder-tablet();
  }

  .filter__input::-moz-placeholder {
    .font-placeholder-tablet();
  }

  .filter__input:-moz-placeholder {
    .font-placeholder-tablet();
  }
}

//DESKTOP

@media (min-width: @desktop) {
  .filter {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .filter__section-wrapper:first-of-type {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    .container-desktop();
  }

  .filter__section-pers {
    .container-desktop();
    margin-bottom: 51px;
    padding-top: 3px;
    padding-left: 0;
  }

  .filter__section-pers div {
    width: 570px;
    margin-bottom: 19px;
  }

  .filter__section-radio {
    width: 570px;
    margin-bottom: 72px;
    margin-left: 0;
    padding-top: 5px;
    padding-left: 0;

    border: 1px solid @color-lightgray;
  }

  .filter__section-radio div {
    margin-bottom: 30px;
  }

  .filter__section-radio div:first-of-type {
    padding-top: 15px;
  }

  .filter__section-radio .page-content__container {
    width: 570px;
  }

  .filter__section-contact {
    position: relative;
    width: 100%;
    margin-bottom: 29px;
    padding-left: 0;
    padding-right: 0;
  }

  .filter__section-contact div {
    margin-bottom: 19px;
  }

  .filter__section-contact .filter__title {
    margin-bottom: 74px;
  }

  .filter__section-wrap-desk {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 1220px;
  }

  .filter__section-wrap-desk div {
    width: 570px;
  }

  .filter__input--email {
    background: url("../img/icon-mail.svg") no-repeat 452px 20px;
    background-size: 17px 13px;
  }

  .filter__input--tel {
    background: url("../img/icon-phone.svg") no-repeat 431px 17px;
    background-size: 20px 20px;
  }

  .filter__section-comment {
    position: relative;
    width: 100%;
    margin-bottom: 67px;
    padding-left: 0;
    padding-right: 0;
  }

  .filter__section-comment .filter__title {
    margin-bottom: 74px;
  }

  .filter__section-comment textarea {
    width: 1184px;
    min-height: 137px;
    padding-left: 17px;
    resize: none;
  }

  .filter__section-extra {
    position: relative;
    width: 100%;
    margin-bottom: 25px;
    padding-left: 0;
    padding-right: 0;
  }

  .filter__section-extra .filter__title {
    margin-bottom: 68px;
  }

  .filter__section-wrap-tablet {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .filter__section-wrap-tablet div {
    width: 245px;
    margin-bottom: 31px;
  }

  .filter__section-btn {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;

    .container-desktop();
  }

  .filter__section-btn .filter__btn {
    margin-left: 0;
    margin-right: 80px;
    margin-bottom: 19px;
  }

  .filter__label {
    .font-text-middle-tablet();
    color: @color-middlegray;

    &--pers {
      margin-right: 17px;
    }

    &--radio {
      padding-left: 87px;
      cursor: pointer;
    }

    &--contact {
      margin-right: 13px;
    }

    &--checkbox {
      padding-left: 58px;
      margin-right: 20px;
      cursor: pointer;
    }
  }

  .filter__section-radio .filter__label::before {
    position: absolute;
    content: "";
    top: -6px;
    left: 27px;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    border: 1px solid rgb(228, 228, 228);
  }

  .filter__section-radio input[type="radio"] + label:hover::before {
    border: 1px solid rgb(207, 207, 207);
  }

  .filter__section-radio input[type="radio"]:checked + label::after {
    position: absolute;
    content: "";
    top: 5px;
    left: 39px;
    width: 18px;
    height: 18px;
    background-color: @color-green;
    border-radius: 50%;
  }

  .filter__section-extra .filter__label::before {
    position: absolute;
    content: "";
    top: -7px;
    left: -2px;
    width: 39px;
    height: 39px;
    border: 1px solid rgb(228, 228, 228);
  }

  .filter__section-extra input[type="checkbox"] + label:hover::before {
    border: 1px solid rgb(207, 207, 207);
  }

  .filter__section-extra input[type="checkbox"]:checked + label::after {
    position: absolute;
    content: "";
    top: 7px;
    left: 8px;
    width: 21px;
    height: 16px;
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
